eclipse/corso-jee-02/src/main/wsdl/servizio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/servizio/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="servizio" targetNamespace="http://www.example.org/servizio/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/servizio/">
      <xsd:element name="salutoRequest">
        <xsd:complexType>
        	<xsd:attribute name="nome" type="xsd:string"></xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="salutoResponse">
        <xsd:complexType>
        	<xsd:attribute name="formulaSaluto" type="xsd:string"></xsd:attribute>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="salutoRequest">
    <wsdl:part element="tns:salutoRequest" name="parameters" />
  </wsdl:message>
  <wsdl:message name="salutoResponse">
    <wsdl:part element="tns:salutoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="servizio">
    <wsdl:operation name="saluto">
      <wsdl:input message="tns:salutoRequest"/>
      <wsdl:output message="tns:salutoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="servizioSOAP" type="tns:servizio">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="saluto">
      <soap:operation soapAction="http://www.example.org/servizio/saluto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servizio">
    <wsdl:port binding="tns:servizioSOAP" name="servizioSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
